body {
    background-color: aquamarine;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px rgb(255, 15, 15));

}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;


}




/* #bipsi {
    margin-left: 8em;
} */


video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}


#clouds {
    opacity: 1;
}

#night {
    opacity: 0.5;
}