body {
    background-color: #1a1a1a;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px rgb(255, 15, 15));

}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;


}




/* #bipsi {
    margin-left: 8em;
} */


video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}


#clouds {
    opacity: 0;
    transition: opacity 1s;
}

#night {
    opacity: 0;
    transition: opacity 3s;

}

.btn {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
    filter: drop-shadow(0px 0px 10px rgb(253, 255, 143));
    transition: opacity 1s;

}

#dva {
    top: 20%;
    left: 50%;
}

#stiri {
    top: 50%;
    left: 30%;
}

#sest {
    top: 50%;
    left: 70%;
}

#osem {
    top: 80%;
    left: 50%;
}