body {
    background-color: #1a1a1a;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    box-shadow: 0 0 60px 1px rgba(255, 255, 255, 0.5);

}




/* #bipsi {
    margin-left: 8em;
} */


video, .background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}


#clouds {
    opacity: 0;
    transition: opacity 1s;
}

#night {
    opacity: 0;
    transition: opacity 3s;

}

.btn {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    transition: opacity 1s;
    z-index: 1;
}

.btn.down {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.596));
}

#dva {
    top: 17%;
    left: 50%;
}

#stiri {
    top: 50%;
    left: 32%;
}

#sest {
    top: 50%;
    left: 68%;
}

#osem {
    top: 83%;
    left: 50%;
}

#energy {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1rem;
    bottom: 1.25rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fafafa;
    filter: drop-shadow(0px 3px 3px rgb(0, 0, 0));

}